## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [3]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [60]:
# Your code here
simple_list_1=random.sample(range(100),80)
print(simple_list_1)

[25, 57, 64, 93, 8, 61, 70, 76, 42, 39, 23, 62, 3, 75, 98, 1, 45, 91, 50, 81, 16, 90, 4, 5, 33, 59, 32, 67, 60, 92, 37, 40, 80, 78, 88, 29, 97, 24, 30, 17, 84, 19, 94, 89, 63, 99, 34, 74, 55, 56, 15, 7, 52, 96, 73, 79, 58, 10, 53, 26, 72, 14, 35, 9, 13, 31, 66, 36, 41, 18, 20, 11, 51, 46, 86, 27, 83, 28, 95, 38]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [101]:
# Your code here
set1=set(simple_list_1)
print(set1)
print("Lenght of set is:", len(set1))

{1, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 45, 46, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 70, 72, 73, 74, 75, 76, 78, 79, 80, 81, 83, 84, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
Lenght of set is: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [102]:
# Your code here
sample_list_2 = [random.randint(1, 100) for i in range(80)]
print(sample_list_2)

[43, 29, 62, 97, 16, 5, 50, 14, 90, 29, 2, 97, 63, 50, 1, 97, 15, 21, 28, 32, 80, 10, 70, 93, 7, 59, 14, 58, 18, 14, 88, 44, 39, 34, 49, 52, 22, 6, 36, 46, 19, 32, 47, 93, 29, 32, 85, 9, 99, 3, 14, 39, 16, 71, 58, 49, 69, 35, 66, 2, 51, 80, 96, 33, 85, 12, 50, 48, 1, 53, 89, 46, 16, 71, 57, 85, 100, 43, 29, 66]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [103]:
# Your code here
set2=set(sample_list_2)
print(set2)
print("Lenght of set is:", len(set2))

{1, 2, 3, 5, 6, 7, 9, 10, 12, 14, 15, 16, 18, 19, 21, 22, 28, 29, 32, 33, 34, 35, 36, 39, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 57, 58, 59, 62, 63, 66, 69, 70, 71, 80, 85, 88, 89, 90, 93, 96, 97, 99, 100}
Lenght of set is: 53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [104]:
# Your code here
repeated_numbers= set1.intersection(set2)
set3=set1-repeated_numbers

print(set3)

{4, 8, 11, 13, 17, 20, 23, 24, 25, 26, 27, 30, 31, 37, 38, 40, 41, 42, 45, 55, 56, 60, 61, 64, 67, 72, 73, 74, 75, 76, 78, 79, 81, 83, 84, 86, 91, 92, 94, 95, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [105]:
# Your code here
repeated_numbers= set2.intersection(set1)
set4=set2-repeated_numbers

print(set4)

{2, 100, 69, 6, 71, 43, 12, 44, 47, 48, 49, 21, 22, 85}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [106]:
# Your code here
set5=repeated_numbers
print(set5)

{1, 3, 5, 7, 9, 10, 14, 15, 16, 18, 19, 28, 29, 32, 33, 34, 35, 36, 39, 46, 50, 51, 52, 53, 57, 58, 59, 62, 63, 66, 70, 80, 88, 89, 90, 93, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [107]:
# Your code here

len1=len(set1)
len2=len(set2)
len3=len(set3)
len4=len(set4)
len5=len(set5)

print(f'Elements of set1 ({len1}) is the sum of set3 ({len3}) + set5 ({len5}): len(set1) = len(set3) + len(set5) ')
print(f'Elements of set2 ({len2}) is the sum of set4 ({len4}) + set5 ({len5}): len(set2) = len(set4) + len(set5) ')

Elements of set1 (80) is the sum of set3 (41) + set5 (39): len(set1) = len(set3) + len(set5)
Elements of set2 (53) is the sum of set4 (14) + set5 (39): len(set2) = len(set4) + len(set5)

#### Create an empty set called `set6`.

In [85]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [86]:
# Your code here
set6=set3.union(set6)
set6=set5.union(set6)
print(set6)

{3, 4, 5, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 45, 46, 50, 52, 53, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 70, 72, 73, 74, 75, 76, 78, 80, 83, 84, 86, 88, 90, 92, 93, 94, 95, 96, 97, 98}

#### Check if `set1` and `set6` are equal.

In [87]:
# Your code here
repeated_numbers=set1-set6
repeated_numbers2=set6-set1
if repeated_numbers==repeated_numbers2:
    print("Both sets are equal")
else:
    print("Sets are different")

print(repeated_numbers)
print(repeated_numbers2)

Both sets are equal
set()
set()

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [88]:
# Your code here
set2_in_set1=set2.issubset(set1)
set3_in_set1=set3.issubset(set1)

print("set1 contains set2: ",set2_in_set1 )
print("set1 contains set3: ",set3_in_set1 )

set1 contains set2:  False
set1 contains set3:  True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [89]:
# Your code here
union=set2.union(set4,set5)
union=union.union(set1,set2)
print(union)

{3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 20, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98}

#### Using the `pop` method, remove the first element from `set1`.

In [73]:
# Your code here
print(set1)
set1.pop()
print(set1)

{1, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 45, 46, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 70, 72, 73, 74, 75, 76, 78, 79, 80, 81, 83, 84, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 45, 46, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 70, 72, 73, 74, 75, 76, 78, 79, 80, 81, 83, 84, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [90]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{3, 4, 5, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 45, 46, 50, 52, 53, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 70, 72, 73, 74, 75, 76, 78, 80, 83, 84, 86, 88, 90, 92, 93, 94, 95, 96, 97, 98}