# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [156]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import tweepy
from tweepy import OAuthHandler
import lxml

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [20]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [21]:
html_response = requests.get(url).content
soup = BeautifulSoup(html_response, "html.parser")

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [22]:
trending_developers = [element.a.text for element in soup.find_all("h1", {"class": "h3 lh-condensed"})]
trending_developers_list=[dev.replace("\n","").strip() for dev in trending_developers]
trending_developers_list

['Jared Palmer',
 'Geoff Bourne',
 'Mathias Fußenegger',
 'Florian Roth',
 'Guillaume Gomez',
 'Henrik Rydgård',
 'Jan De Dobbeleer',
 'Yo-An Lin',
 'Marten Seemann',
 'Xaymar',
 'David Tolnay',
 'snipe',
 'XhmikosR',
 'Yann Collet',
 'bdring',
 'Samuel Colvin',
 'Alex Gaynor',
 'Nico Schlömer',
 'Yair Morgenstern',
 'Federico Brigante',
 'Barry vd. Heuvel',
 'MichaIng',
 'Dan Davison',
 'David Peter',
 'Jelle Zijlstra']

#### Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [23]:
# This is the url you will scrape in this exercise
url_2 = 'https://github.com/trending/python?since=daily'

In [24]:
html_response_2 = requests.get(url_2).content
soup_2 = BeautifulSoup(html_response_2, "html.parser") 
trending_repos = [element.a.text for element in soup_2.find_all("h1", {"class": "h3 lh-condensed"})]
trending_repos_list=[repo.replace("\n","").replace(" ","").replace("/"," / ") for repo in trending_repos]
trending_repos_list

['Neo23x0 / log4shell-detector',
 'TencentARC / GFPGAN',
 'WazeHell / sam-the-admin',
 'blakeblackshear / frigate',
 'sxyu / svox2',
 'CorentinJ / Real-Time-Voice-Cloning',
 'NorthwaveSecurity / log4jcheck',
 'google-research / scenic',
 'takito1812 / log4j-detect',
 'rwightman / pytorch-image-models',
 'jina-ai / jina',
 'medvm / widevine_keys',
 'alexandre-lavoie / python-log4rce',
 'DA-southampton / NLP_ability',
 'mlflow / mlflow',
 'jessevig / bertviz',
 'wpeebles / gangealing',
 'aeon0 / botty',
 'FederatedAI / FATE',
 'EssayKillerBrain / EssayKiller_V2',
 'JDAI-CV / fast-reid',
 'elastic / detection-rules',
 'SinaKhalili / Folders.py',
 'libratbag / piper',
 'vishnubob / wait-for-it']

#### Display all the image links from Walt Disney wikipedia page.

In [25]:
# This is the url you will scrape in this exercise
url_3 = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [26]:
html_response_3 = requests.get(url_3).content
soup_3 = BeautifulSoup(html_response_3, "html.parser") 
images = ["https://en.wikipedia.org/"+re.findall("href=[\"\'](.*?)[\"\']", str(element))[0] for element in soup_3.find_all("a", {"class": "image"})]
images

['https://en.wikipedia.org//wiki/File:Walt_Disney_1946.JPG',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_1942_signature.svg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 'https://en.wikipedia.org//wiki/File:Trolley_Troubles_poster.jpg',
 'https://en.wikipedia.org//wiki/File:Steamboat-willie.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_1935.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 'https://en.wikipedia.org//wiki/File:Disney_drawing_goofy.jpg',
 'https://en.wikipedia.org//wiki/File:DisneySchiphol1951.jpg',
 'https://en.wikipedia.org//wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_disney_portrait_right.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_Grave.JPG',
 'https://en.wikipedia.org//wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://en.wikipedia.org//wiki/File:Disney_Oscar_1953_(cropped).jpg',
 'https://en.wikipedia.org//wiki/File:Disney1968.jpg',
 'https://en.wikipedia.org//wiki/File:Disneyland_Resort_logo.svg',
 'https://en.wikipedia.org//wiki/File:Animation_disc.svg',
 'https://en.wikipedia.org//wiki/File:P_vip.svg',
 'https://en.wikipedia.org//wiki/File:Magic_Kingdom_castle.jpg',
 'https://en.wikipedia.org//wiki/File:Video-x-generic.svg',
 'https://en.wikipedia.org//wiki/File:Flag_of_Los_Angeles_County,_California.svg',
 'https://en.wikipedia.org//wiki/File:Blank_television_set.svg',
 'https://en.wikipedia.org//wiki/File:Flag_of_the_United_States.svg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page.

In [130]:
# This is the url you will scrape in this exercise
url_4 ='https://en.wikipedia.org/wiki/Python'

In [143]:
soup_4 = BeautifulSoup(requests.get(url_4).content, "html.parser") 
links=[links for links in soup_4.find("div",id="bodyContent").find_all("a")]
links_list=[re.findall('href="(.*?)"', str(i))[0] for i in links]
links_list=["https://en.wikipedia.org"+link for link in links_list if link[0]=="/" ]

links_list

['https://en.wikipedia.org/wiki/Pythonidae',
 'https://en.wikipedia.org/wiki/Python_(genus)',
 'https://en.wikipedia.org/w/index.php?title=Python&amp;action=edit&amp;section=1',
 'https://en.wikipedia.org/wiki/Python_(programming_language)',
 'https://en.wikipedia.org/wiki/CMU_Common_Lisp',
 'https://en.wikipedia.org/wiki/PERQ#PERQ_3',
 'https://en.wikipedia.org/w/index.php?title=Python&amp;action=edit&amp;section=2',
 'https://en.wikipedia.org/wiki/Python_of_Aenus',
 'https://en.wikipedia.org/wiki/Python_(painter)',
 'https://en.wikipedia.org/wiki/Python_of_Byzantium',
 'https://en.wikipedia.org/wiki/Python_of_Catana',
 'https://en.wikipedia.org/wiki/Python_Anghelo',
 'https://en.wikipedia.org/w/index.php?title=Python&amp;action=edit&amp;section=3',
 'https://en.wikipedia.org/wiki/Python_(Efteling)',
 'https://en.wikipedia.org/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 'https://en.wikipedia.org/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 'https://en.wikipedia.org/w/index.php?title=Python&amp;action=edit&amp;section=4',
 'https://en.wikipedia.org/wiki/Python_(automobile_maker)',
 'https://en.wikipedia.org/wiki/Python_(Ford_prototype)',
 'https://en.wikipedia.org/w/index.php?title=Python&amp;action=edit&amp;section=5',
 'https://en.wikipedia.org/wiki/Python_(missile)',
 'https://en.wikipedia.org/wiki/Python_(nuclear_primary)',
 'https://en.wikipedia.org/wiki/Colt_Python',
 'https://en.wikipedia.org/w/index.php?title=Python&amp;action=edit&amp;section=6',
 'https://en.wikipedia.org/wiki/PYTHON',
 'https://en.wikipedia.org/wiki/Python_(film)',
 'https://en.wikipedia.org/wiki/Python_(mythology)',
 'https://en.wikipedia.org/wiki/Monty_Python',
 'https://en.wikipedia.org/wiki/Python_(Monty)_Pictures',
 'https://en.wikipedia.org/w/index.php?title=Python&amp;action=edit&amp;section=7',
 'https://en.wikipedia.org/wiki/Cython',
 'https://en.wikipedia.org/wiki/Pyton',
 'https://en.wikipedia.org/wiki/Pithon',
 'https://en.wikipedia.org/wiki/File:Disambig_gray.svg',
 'https://en.wikipedia.org/wiki/Help:Disambiguation',
 'https://en.wikipedia.org/wiki/Help:Category',
 'https://en.wikipedia.org/wiki/Category:Disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Human_name_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Disambiguation_pages_with_given-name-holder_lists',
 'https://en.wikipedia.org/wiki/Category:Disambiguation_pages_with_short_descriptions',
 'https://en.wikipedia.org/wiki/Category:Short_description_is_different_from_Wikidata',
 'https://en.wikipedia.org/wiki/Category:All_article_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:All_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Animal_common_name_disambiguation_pages']

#### Find the number of titles that have changed in the United States Code since its last release point.

In [29]:
# This is the url you will scrape in this exercise
url_5 = 'http://uscode.house.gov/download/download.shtml'
soup_5 = BeautifulSoup(requests.get(url_5).content, "html.parser") 
changed_titles=[changed.text.replace("\n","").replace("٭","").strip() for changed in soup_5.find_all("div", {"class": "usctitlechanged"})]
changed_titles

['Title 18 - Crimes and Criminal Procedure',
 'Title 42 - The Public Health and Welfare']

#### Find a Python list with the top ten FBI's Most Wanted names.

In [152]:
# This is the url you will scrape in this exercise
url_6 = 'https://www.fbi.gov/wanted/topten'
soup_6 = BeautifulSoup(requests.get(url_6).content, "html.parser") 
top_wanted=[name.a.text for name in soup_6.find_all("h3", {"class": "title"})]
top_wanted

['ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'OCTAVIANO JUAREZ-CORRO',
 'RAFAEL CARO-QUINTERO',
 'YULAN ADONAY ARCHAGA CARIAS',
 'EUGENE PALMER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN']

####  Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.

In [144]:
# This is the url you will scrape in this exercise
url_7 = 'https://www.emsc-csem.org/Earthquake/'

#Extract the body of the table
soup_7 = BeautifulSoup(requests.get(url_7).text, "lxml") 
table7=soup_7.find("tbody",id="tbody").find_all("td")

In [145]:
#Extract the titles of the table
headers=[]
table_headers=soup_7.find("tr",id="haut_tableau")
for i in table_headers.find_all("th"):
    title=i.text.replace("[+]","").replace("[-]","").strip()
    headers.append(title)

#Create a dataframe with the headers
latests_earthquakes=pd.DataFrame(columns=headers)

#Date and Time Column
date_time=soup_7.find("tbody",id="tbody").find_all("a")
for i in date_time:
    if i.find("span"):
        i.decompose()
latests_earthquakes["Date & Time UTC"]=date_time

#Latitude and Longitude Column
latitude_longitude=[j.text.replace("\xa0","").strip() for j in soup_7.find("tbody",id="tbody").find_all("td",{"class":"tabev1"})]
latitude_longitude_letters=[j.text.replace("\xa0","").strip() for j in soup_7.find("tbody",id="tbody").find_all("td",{"class":"tabev2"})]

for i in latitude_longitude_letters:
    if (i!="N" and i!="W" and i!="S" and i!="E"):
        latitude_longitude_letters.remove(i)

latitude=[]
longitude=[]
count1=0
count2=1
while count1 < len(latitude_longitude):
    latitude.append(latitude_longitude[count1]+latitude_longitude_letters[count1])
    longitude.append(latitude_longitude[count2]+latitude_longitude_letters[count2])
    count1+=2
    count2+=2

latests_earthquakes["Latitude degrees"]=latitude
latests_earthquakes["Longitude degrees"]=longitude


#Region Name Column
region_name=[name.text.replace("\xa0","").strip() for name in soup_7.find_all("td",{"class": "tb_region"})]
latests_earthquakes["Region name"]=region_name
region_name

latests_earthquakes=latests_earthquakes.dropna(axis=1)
latests_earthquakes[0:29]

,Date & Time UTC,Latitude degrees,Longitude degrees,Region name
0,[2021-12-14 14:20:14.0],7.78S,122.50E,FLORES SEA
1,[2021-12-14 14:04:05.0],7.41S,122.40E,FLORES SEA
2,[2021-12-14 13:59:12.0],7.74S,122.47E,FLORES SEA
3,[2021-12-14 13:57:06.0],7.60S,122.24E,FLORES SEA
4,[2021-12-14 13:49:26.0],11.54N,87.56W,NEAR COAST OF NICARAGUA
5,[2021-12-14 13:48:32.0],1.85S,120.48E,"SULAWESI, INDONESIA"
6,[2021-12-14 13:45:24.0],7.60S,122.44E,FLORES SEA
7,[2021-12-14 13:34:58.0],7.70S,122.56E,FLORES SEA
8,[2021-12-14 13:33:30.0],7.53S,122.38E,FLORES SEA
9,[2021-12-14 13:30:18.0],7.60S,122.39E,FLORES SEA
10,[2021-12-14 13:28:14.2],17.92N,66.75W,PUERTO RICO REGION
11,[2021-12-14 13:23:29.0],7.82S,122.52E,FLORES SEA
12,[2021-12-14 13:10:30.0],7.70S,122.44E,FLORES SEA
13,[2021-12-14 13:09:56.7],37.04N,1.97W,SPAIN
14,[2021-12-14 13:08:17.3],38.68N,39.47E,EASTERN TURKEY
15,[2021-12-14 13:04:32.0],7.32S,121.25E,FLORES SEA
16,[2021-12-14 12:55:06.0],28.56N,17.83W,"CANARY ISLANDS, SPAIN REGION"
17,[2021-12-14 12:51:06.0],7.74S,122.45E,FLORES SEA
18,[2021-12-14 12:50:04.0],7.60S,122.30E,FLORES SEA
19,[2021-12-14 12:45:35.2],30.57S,177.33W,"KERMADEC ISLANDS, NEW ZEALAND"
20,[2021-12-14 12:42:18.0],29.63S,71.28W,"COQUIMBO, CHILE"
21,[2021-12-14 12:35:36.0],7.60S,122.38E,FLORES SEA
22,[2021-12-14 12:24:31.0],7.35S,122.23E,FLORES SEA
23,[2021-12-14 12:22:35.0],0.38N,123.69E,"MINAHASA, SULAWESI, INDONESIA"
24,[2021-12-14 12:19:36.5],28.55N,17.83W,"CANARY ISLANDS, SPAIN REGION"
25,[2021-12-14 12:12:53.1],60.31N,151.94W,"KENAI PENINSULA, ALASKA"
26,[2021-12-14 12:12:28.0],6.60S,121.91E,FLORES SEA
27,[2021-12-14 12:05:26.1],28.56N,17.82W,"CANARY ISLANDS, SPAIN REGION"
28,[2021-12-14 11:52:46.2],42.71N,15.89E,ADRIATIC SEA

#### Count the number of tweets by a given Twitter account.
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account.

In [215]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
base_url = 'https://twitter.com/'

api_key= "AXChgfKFHoQEvIUI9wBqtYEqk"
api_key_secret= "ua574GVbRGnSteG0Dm96GMwnPo76ogymzofZUtRJsN9172Ailz"
access_token= "232573274-1EO11DKRv3A3sGmEVLuuiliSkZrXyNWoxvG6ITUr"
token_secret = "4sj8tpZGDLYqxtDeXkhp8o3H9k02d2EqAQPXSoCWnckQT"

# Configuracion de acceso con las credenciales
auth = OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, token_secret)
 
# Listos para hacer la conexion con el API
api = tweepy.API(auth)

In [248]:
user_name= input(str("Enter username: "))

try:

    # fetching the user
    user = api.get_user(screen_name=user_name)
    
    # fetching the statuses_count attribute
    statuses_count = user.statuses_count 

    print("The number of tweets the user " + user_name + " has posted are : " + str(statuses_count))

except:
     print("Username not found")

The number of tweets the user ironhack has posted are : 4236

#### Number of followers of a given twitter account
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the followers for any provided account.

In [245]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'
user=input(str("Enter username: "))
try:
    followers_count = api.get_user(screen_name=user).followers_count
    print("The number of followers of the user " + user +" are : " + str(followers_count))
except:
     print("Username not found")

The number of followers of the user ironhack are : 12584

#### List all language names and number of related articles in the order they appear in wikipedia.org.

In [ ]:
# This is the url you will scrape in this exercise
url_10 = 'https://www.wikipedia.org/'
soup_10 = BeautifulSoup(requests.get(url_10).content, "html.parser") 
languages=[language.text.strip() for language in soup_10.find_all("strong")][1:-1]
articles=[article.text.replace("\xa0","").strip() for article in soup_10.find_all("small")][0:(len(languages))]

languages_articles=pd.DataFrame({"Language":languages,"Articles":articles})
languages_articles

    Language            Articles
0    English   6383000+ articles
1        日本語         1292000+ 記事
2    Русский     1756000+ статей
3    Deutsch    2617000+ Artikel
4    Español  1717000+ artículos
5   Français   2362000+ articles
6         中文         1231000+ 條目
7   Italiano       1718000+ voci
8  Português    1074000+ artigos
9     Polski      1490000+ haseł

#### A list with the different kind of datasets available in data.gov.uk.

In [ ]:
# This is the url you will scrape in this exercise
url_11 = 'https://data.gov.uk/'
soup_11 = BeautifulSoup(requests.get(url_11).content, "html.parser") 
datasets=[dataset.text for dataset in soup_11.find_all("h3",{"class":"govuk-heading-s dgu-topics__heading"})]
datasets

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Display the top 10 languages by number of native speakers stored in a pandas dataframe.

In [34]:
# This is the url you will scrape in this exercise
url_12 = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
soup_12 = BeautifulSoup(requests.get(url_12).text, "lxml") 
top_languages=[language1.text.replace("\n","").replace("[11]","").replace("[12]","").strip() for language1 in soup_12.find_all("td") if language1.a][0:30:3]
speakers=[speaker.text.replace("\n","").strip() for speaker in soup_12.find_all("td")][4:60:6]
top_languages_speakers=pd.DataFrame({"Language":top_languages,"Speakers (millions)":speakers})
top_languages_speakers

                          Language Speakers (millions)
0                 Mandarin Chinese                 918
1                          Spanish                 480
2                          English                 379
3  Hindi (sanskritised Hindustani)                 341
4                          Bengali                 300
5                       Portuguese                 221
6                          Russian                 154
7                         Japanese                 128
8                  Western Punjabi                92.7
9                          Marathi                83.1

## Bonus
#### Scrape a certain number of tweets of a given Twitter account.

In [242]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
user=input(str("Enter username: "))
n=3 #Number of showed tweets
try:
     tweets = api.user_timeline(screen_name=user, 
                              # 200 is the maximum allowed count
                              count=200,
                              include_rts = False,
                              # Necessary to keep full_text 
                              # otherwise only the first 140 words are extracted
                              tweet_mode = 'extended'
                              )

     for info in tweets[:n]:
          print("ID: {}".format(info.id))
          print(info.created_at)
          print(info.full_text)
          print("\n")
except:
     print("Username not found")

Username not found

#### Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.

In [33]:
# This is the url you will scrape in this exercise 
url_13 = 'https://www.imdb.com/chart/top'
soup_13 = BeautifulSoup(requests.get(url_13).text, "lxml") 

titles=[title.a.text for title in soup_13.find_all("td",{"class":"titleColumn"})]

release=[release.span.text for release in soup_13.find_all("td",{"class":"titleColumn"})]

directors=[director for director in soup_13.find_all("td",{"class":"titleColumn"})]
directors=[re.findall("title=[\"\'](.*?)[\"\']", str(i))for i in directors]
directors=[str(j).split("(dir.)")[0].replace("['","").strip() for j in directors]

stars=[star.strong.text for star in soup_13.find_all("td",{"class":"ratingColumn imdbRating"})]

top_movies=pd.DataFrame({"Movie name":titles,"Initial release":release,"Director":directors,"Stars":stars})
top_movies

                Movie name Initial release              Director Stars
0          Cadena perpetua          (1994)        Frank Darabont   9.2
1               El padrino          (1972)  Francis Ford Coppola   9.1
2     El padrino: Parte II          (1974)  Francis Ford Coppola   9.0
3      El caballero oscuro          (2008)     Christopher Nolan   9.0
4    12 hombres sin piedad          (1957)          Sidney Lumet   8.9
..                     ...             ...                   ...   ...
245  Las noches de Cabiria          (1957)      Federico Fellini   8.0
246  La princesa prometida          (1987)            Rob Reiner   8.0
247           Paris, Texas          (1984)           Wim Wenders   8.0
248     Tres colores: Rojo          (1994)  Krzysztof Kieslowski   8.0
249               Ratsasan          (2018)             Ram Kumar   8.0

[250 rows x 4 columns]

#### Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [102]:
#This is the url you will scrape in this exercise
base_url_13='http://www.imdb.com'
description_link=[base_url_13+re.findall("href=[\"\'](.*?)[\"\']",str(link))[0] for link in soup_13.find_all("td", {"class": "titleColumn"})]
top_movies["Link Description"]=description_link

top_10_movies=top_movies[0:10]
description=[]
for link in top_10_movies["Link Description"]:
    soup_i = BeautifulSoup(requests.get(link).content, "html.parser") 
    description_i=[i.span.text for i in soup_i.find_all("p",{"class":"GenresAndPlot__Plot-cum89p-6 bUyrda"})]
    description.append(description_i[0])
top_10_movies["Description"]=description
top_10=top_10_movies[["Movie name","Initial release","Description"]]
top_10

/Users/ivan.repilado/miniconda3/envs/ironhack_env/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,Movie name,Initial release,Description
0,Cadena perpetua,(1994),Two imprisoned men bond over a number of years...
1,El padrino,(1972),"The Godfather follows Vito Corleone, Don of th..."
2,El padrino: Parte II,(1974),The early life and career of Vito Corleone in ...
3,El caballero oscuro,(2008),When the menace known as the Joker wreaks havo...
4,12 hombres sin piedad,(1957),The jury in a New York City murder trial is fr...
5,La lista de Schindler,(1993),"In German-occupied Poland during World War II,..."
6,El señor de los anillos: El retorno del rey,(2003),Gandalf and Aragorn lead the World of Men agai...
7,Pulp Fiction,(1994),"The lives of two mob hitmen, a boxer, a gangst..."
8,"El bueno, el feo y el malo",(1966),A bounty hunting scam joins two men in an unea...
9,El señor de los anillos: La comunidad del anillo,(2001),A meek Hobbit from the Shire and eight compani...

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [249]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

#La key que nos dais no es válida.

In [ ]:
{"cod":401, "message": "Invalid API key. Please see http://openweathermap.org/faq#error401 for more info."}

#### Find the book name, price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url_16 = 'http://books.toscrape.com/'
soup_16 = BeautifulSoup(requests.get(url_16).content, "html.parser") 
book_name=[book for book in soup_16.find_all("article",{"class":"product_pod"})]
book_name=[re.findall('title="(.*?)"', str(i))[0] for i in book_name]
price=[price.text for price in soup_16.find_all("p",{"class":"price_color"})]
stock=[stock.text.replace("\n","").strip() for stock in soup_16.find_all("p",{"class":"instock availability"})]
products=pd.DataFrame({"Book name":book_name,"Price":price,"Availability":stock})
products

                                            Book name   Price Availability
0                                A Light in the Attic  £51.77     In stock
1                                  Tipping the Velvet  £53.74     In stock
2                                          Soumission  £50.10     In stock
3                                       Sharp Objects  £47.82     In stock
4               Sapiens: A Brief History of Humankind  £54.23     In stock
5                                     The Requiem Red  £22.65     In stock
6   The Dirty Little Secrets of Getting Your Dream...  £33.34     In stock
7   The Coming Woman: A Novel Based on the Life of...  £17.93     In stock
8   The Boys in the Boat: Nine Americans and Their...  £22.60     In stock
9                                     The Black Maria  £52.15     In stock
10     Starving Hearts (Triangular Trade Trilogy, #1)  £13.99     In stock
11                              Shakespeare's Sonnets  £20.66     In stock
12                                        Set Me Free  £17.46     In stock
13  Scott Pilgrim's Precious Little Life (Scott Pi...  £52.29     In stock
14                          Rip it Up and Start Again  £35.02     In stock
15  Our Band Could Be Your Life: Scenes from the A...  £57.25     In stock
16                                               Olio  £23.88     In stock
17  Mesaerion: The Best Science Fiction Stories 18...  £37.59     In stock
18                       Libertarianism for Beginners  £51.33     In stock
19                            It's Only the Himalayas  £45.17     In stock